.sign {
    padding: 20px;
    margin-top: 20px;
}
.sign .card {
    padding: 20px;
}
.login {
    width: 50%;
}
.add-tender {
    padding: 20px;
    margin-top: 20px;
    width: 50%;
}
.add-tender .card {
    padding: 20px;

}