.home-fluid {
    padding: 20px;
    color: #000000;
}
.about {
    padding: 40px;
    border-radius: 20px;
    background-color: black;
    color: cyan;
}
.about h3 {
    color: white;
    margin-bottom: 50px;
}
.about h6 {
    color: white;
    margin-bottom: 30px;
}
.about .btn {
    margin: 20px;
}
.about img {
    border-radius: 20px;
}