.navbar {
    padding: 20px;
    background-color:#bfbbc2 !important ;
}
.navbar-nav {
    margin-left: 20%;
}
.nav-item {
    padding: 20px;
}
.nav-link {
    padding: 5px;
    font-size: 18px;
    color:#000000 !important;
}
.btn {
    color:white !important;
}
.navbar-brand {
    height: 70px;
    border-radius: 30px;
}